#api_section {
    @media (max-width: 850px) {
        scale: 60%;
    }

}

#account {
    @media (max-width: 850px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

    }
}

#live_chat image {
    @media (max-width: 850px) {
        scale: 50%
    }
}


#arrow-2 {
    @media (max-width: 850px) {
        display: none;
    }
}

#soon {
    @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

    }
}