# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.env

# Files from Forge MDK
forge*changelog.txt

/Website/server/node_modules
/Website/server/mc_assets
/Website/client/node_modules
/Website/server/.env
/Website/client/.env
./Website/invsee/.env
./Website/server/.env