#item-div:hover  {
    #settings {
        display: block;
        animation: box_animation 0.2s ease-in-out;
    }
    
}

#settings {
    animation: settings_animation 1s;
}

@keyframes box_animation {
    0%   { transform: translateY(10px); opacity: 0; }
      
    100% { transform: translateY(0px); opacity: 1; }
  }

  @keyframes settings_animation {
    0%   { transform: translateY(0px); opacity: 1; }
      
    100% { transform: translateY(10px); opacity: 0; }
  }