/* HTML: <div class="loader"></div> */
#loader3 {
    width: 60px;
    aspect-ratio: 1;
    color: #ffa516;
    background:
            linear-gradient(#2563eb 0 0) 100%  0,
            linear-gradient(#2563eb 0 0) 0  100%;
    background-size: 50.1% 50.1%;
    background-repeat: no-repeat;
    animation:  l7-0 1s infinite steps(1);
}
#loader3::before,
#loader3::after {
    content:"";
    position: absolute;
    inset: 0 50% 50% 0;
    background: #2563eb;
    transform: scale(var(--s,1)) perspective(150px) rotateY(0deg);
    transform-origin: bottom right;
    animation: l7-1 .5s infinite linear alternate;
}
#loader3::after {
    --s:-1,-1;
}
@keyframes l7-0 {
    0%  {transform: scaleX(1)  rotate(0deg)}
    50% {transform: scaleX(-1) rotate(-90deg)}
}
@keyframes l7-1 {
    49.99% {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg)}
    50%    {transform:scale(var(--s,1)) perspective(150px) rotateX(-90deg)}
    100%   {transform:scale(var(--s,1)) perspective(150px) rotateX(-180deg)}
}