#wiki_element:hover {
    #delete_button {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1;
        animation: in 0.5s;
    }
}

#delete_button {
    transition: 1;
}

@keyframes in {
    0%   { transform: translateY(20px); opacity: 0; }
      
    100% { transform: translateY(0px); opacity: 1; }
  }